body{
    background-color: rgba(68, 68, 68, 0.308);
    overflow: hidden;
}

.container{
    position: absolute;
    width: 350px;
    height: 20px;
    margin: -130px -598px;
    border-radius: 10px;
    border: 20px solid gray;
    background-color: rgb(26, 25, 25);
    z-index: 1;
    border-style: ridge;
}

.aniversario{
    position: absolute;
    width: 200px;
    height: 130px;
    margin: -430px 325px;
    border-radius: 10px;
    border: 20px solid gray;
    background-color: rgb(26, 25, 25);
    border-style: ridge;
}

#stylo2{
    position: absolute;
    border-radius: 10px;
    margin: 25px 355px;
    border-radius: 10px;
    border: 2px solid black;
    width: 80px;
    height: 80px;
    background-image: url("stylofoto.png");
    background-size: cover;
    z-index: 1;
}

#confetti{
    position: absolute;
    background-image: url("confetti.gif");
    width: 5425px;
    height: 3240px;
    margin: -150px -918px;
    visibility: hidden;
    z-index: -30;
}

#chora{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 256px;
    margin: -468.5px -620px;
    z-index: -1;
}

#stylo2:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px;
}

.elemento{
    position: absolute;
    width: 30px;
    height: 240px;
    margin: -380px -440px;
    border-radius: 10px;
    border: 20px solid #333;
    background-color: gray;
    border-style: double;
    z-index: -2;
}

.tvborda{
    position: absolute;
    width: 430px;
    height: 240px;
    margin: -480px -640px;
    border-radius: 10px;
    border: 20px solid gray;
    background-color: rgb(16, 16, 16);
    border-style: outset;
    background-image: url("images.png");
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.classe{
    position: absolute;
    width: 150px;
    height: 320px;
    margin: 120px 900px;
    border-radius: 10px;
    border: 20px solid #333;
    background-color: #333;
}

#botao{
    position: absolute;
    background-color: red;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 5px 5px;
    border-radius: 10px;
    border: 2px solid red;
    width: 30px;
    height: 50px;
}

#imagem{
    position: absolute;
    visibility: hidden;
    height: 500px;
    width: 750px;
    margin: 10px 10px;
    border: 5px solid black;
    z-index: 1;
}

#botao:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#power{
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -220px -210px;
}

#stylo{
    visibility: hidden;
    position: absolute;
    width: 427px;
    height: 250px;
    margin: 86px 301.5px;

}

#botao1{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 75px 5px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao1:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao2{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 75px 55px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao2:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao3{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 75px 105px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao3:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao4{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 125px 5px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao4:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao5{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 125px 55px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao5:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao6{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 125px 105px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao6:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao7{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 175px 5px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao7:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao8{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 175px 55px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao8:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao9{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 175px 105px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao9:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#botao0{
    position: absolute;
    background-color: gray;
    border-radius: 10px;
    transition: 200ms;
    color: white;
    margin: 225px 55px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#botao0:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#netflix{
    background-image:url("Netflix_icon.svg.png");
    background-size: cover;
    position: absolute;
    border-radius: 10px;
    margin: 225px 5px;
    border-radius: 10px;
    border: 2px solid black;
    width: 40px;
    height: 40px;
}

#netflix:hover{
    transform: scale(1.1);
    transition: 200ms;
    box-shadow: 1px 1px 1px 1px
}

#netflixicon{
    visibility: hidden;
}

#importante{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 256px;
    margin: -468.5px -620px;
}

#videoBrabo1{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 240px;
    margin: -460px -615px;
}

#dengosa{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 240px;
    margin: -460px -615px;
}

#gokuteq{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 240px;
    margin: -460px -615px;
}

#mario{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 240px;
    margin: -460px -615px;
}

#bolsonaro{
    visibility: hidden;
    position: absolute;
    width: 430px;
    height: 240px;
    margin: -460px -615px;
}

#pombo{
    visibility: hidden;
    position: absolute;
    width: 433px;
    height: 243px;
    margin: -460px -622px;
}

#will{
    visibility: hidden;
    position: absolute;
    width: 433px;
    height: 243px;
    margin: -460px -622px;
}

#donate{
    visibility: hidden;
    position: absolute;
    width: 433px;
    height: 243px;
    margin: -460px -622px;
}


#net{
    visibility: hidden;
    position: absolute;
    width: 433px;
    height: 243px;
    margin: -460px -622px;
}

